/* (Mini) Reset do CSS para resetar as propriedades mais comuns que são aplicadas pelo navegador, a fim de eliminar possíveis incompatibilidades entre navegadores. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
}

/* Estilos definidos para a página de documentação */

body {
    width: 90%;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    }

h1 {
    font-size: 40pt;
    font-style: italic;
    color: rgb(53, 53, 116);
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-size: 18pt;
}

p, table{
    margin: 20px 0;
}

p {
    line-height: 1.5;
    font-size: 16pt;
    margin-left: 20px;
    text-align: justify;
}

td, th {
    font-size: 16pt;
}

tr:nth-child(even) {
    background-color: #ccc;
}

.container {
    height: 600px;
    background-color: antiquewhite;
    border: 5px solid #f00;
    }

.contido {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 5px solid #00f;
    }

.contido-height-auto {
    height: auto;
}


/* VER DAQUI */
.contido-width-100 {
    width: 100%;
}
/* ATÉ AQUI */

.container-pequeno {
    height: 500px;
    width: 500px;
    background-color: antiquewhite;
    border: 5px solid #f00;
}

.contido-grande {
    width: 150px;
    height: 150px;
    background-color: aqua;
    border: 5px solid #00f;
}

.display-flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-column-reverse {
    flex-direction: column-reverse;
}

.justify-content-center {
    justify-content: center
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end ;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-initial {
    justify-content: initial;
}

.justify-content-inherit {
    justify-content: inherit;
}

.align-items-normal {
    align-items: normal;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-center {
    align-items: center
}

.align-items-flex-start {
align-items: flex-start;
}

.align-items-flex-end {
align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-flow-column-wrap-reverse {
    flex-flow: column wrap-reverse;
}

.align-content-stretch {
    align-content: stretch;
}

.align-content-center {
    align-content: center;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-evenly {
    align-content: space-evenly;
}

.descricao-propriedade {

}

